ul {
  list-style: none;
  margin: 20px 0;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #8d8d8d;
    margin-top: 8px;
    background-color: #fff;
    transition: background-color .3s ease;

    &.active-drag {
      border: 1px solid #fff;
      background-color: pink !important;
      p.name, p.timer {
        color: #fff;
      }
    }

    .dnd-icon {
      padding: 8px;
      position: relative;
      left: -8px;
      min-width: 10px;
    }

    .timer-control {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.isActive {
      background-color: #fffbed;

      p {
        color: #3faf6c;

        &:hover {
          color: #2f9459;
        }
      }
    }

    &:hover {
      background-color: #fffae2;
    }

    p.name {
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 16px;
      flex-grow: 1;
    }

    input.name {
      position: relative;
      left: -8px;
      width: 100%;
      margin-right: 16px;
      padding: 6px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    p.timer {
      margin-right: 25px;
      cursor: pointer;
      position: relative;
    }

    input.timer {
      font-size: 16px;
      padding: 4px;
    }

    button {
      border-radius: 50%;
      padding: 0;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      background-color: transparent;

      img {
        border-radius: 50%;
        display: block;
        width: 35px;
        height: 35px;
        margin: auto;
        background-color: transparent;
        transition: background-color .3s;
      }
    }
  }
}
